@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #022c48;
}
.button{
    position: relative;
    color: #fff;
    font-size: 2.2em;
    font-weight: 400;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 25px 50px;
    border: 4px solid #fff;
    overflow: hidden;
    transition: all 0.4s linear;
}
.button::before{
    content: "";
    position: absolute;
    width: 150%;
    height: 100%;
    background-color: #fff;
    left: -55px;
    top: 0;
    transform: translateX(-100%) skew(45deg);
    z-index: -1;
    transition: all 0.4s linear;
}
.button:hover::before{
    transform: translateX(0%) skew(45deg);
}
.button:hover{
    color: #022c48;
}